.itemImage {
  border-radius: 10px;
}

.container {
  display: flex;
  gap: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.1rem 0;
}

.wrapper h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--dark-text-color);
}

.wrapper span {
  font-size: 0.8rem;
  opacity: 0.5;
}

.actionWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.actionWrapper button {
  color: var(--dark-text-color);
  appearance: none;
  font-weight: 300;
  font-size: 0.8rem;
}

.actionWrapper button::after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 1px;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  left: 23%;
  pointer-events: none;
}

.selectContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.selectContainer span {
  margin-right: 1rem;
}
