.header {
  display: flex;
  background: var(--dark-content-block-color);
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  height: 10vh;
}

.header.light {
  background: var(--light-primary-color);
}

.header a {
  display: flex;
  align-items: center;
}

.header a span {
  cursor: pointer;
}

.header div {
  display: flex;
  align-items: center;
}

.header span {
  font-size: 20px;
  font-weight: 600;
  font-family: monospace;
  color: var(--dark-text-color);
  cursor: default;
  margin-right: 10px;
}

.header nav {
  display: flex;
}

.header ul {
  display: flex;
  align-items: center;
}

.header ul a:last-child {
  margin-left: 2rem;
}

.header ul a {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.header li {
  font-weight: 600;
  font-size: 16px;
}

.cartWrapper a:first-of-type {
  margin-right: 1rem;
}
