.footer {
  display: flex;
  height: 15vh;
  padding: 30px 0;
  background: var(--dark-content-block-color);
  align-items: center;
  justify-content: center;
}

.footer.light {
  background: var(--light-primary-color);
}

.footer span {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-text-color);
  cursor: default;
}

.footer ul {
  display: flex;
  align-items: center;
}

.footer a {
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
}
