.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-content-block-color);
  padding: 0px 35px;
  height: 10vh;
}

.navContainer.light {
  background: var(--light-primary-color);
}

.logo a {
  display: flex;
  align-items: center;
}

.logo span:hover {
  cursor: pointer;
}

.logo span {
  font-size: 20px;
  font-weight: 600;
  font-family: monospace;
  color: var(--dark-text-color);
  cursor: default;
  margin-right: 10px;
}

.steps {
  display: flex;
  align-items: center;
}

.step {
  display: flex;
  align-items: center;
  opacity: 0.5;
}

.step span {
  font-size: 1rem;
}

.step.active span:first-child {
  display: none;
}

.stepNumber {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: #fff;
  border-width: 3px;
  font-size: 1rem;
  color: white;
  margin-right: 1rem;
  padding: 0.7rem;
}

.stepNumber.active {
  border-color: var(--success-color);
}

.stepLine {
  width: 4vw;
  height: 2px;
  background: var(--dark-text-color);
  margin-left: 1rem;
}

.stepLine.active {
  background: var(--success-color);
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.rightSection div {
  position: relative;
}

.rightSection div::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.8rem;
  transform: translateY(-50%);
  width: 1px;
  height: 2.3rem;
  background: rgba(255, 255, 255, 0.137);
}

.securePayment {
  color: #4bff70;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.securePayment span {
  color: #666;
  font-size: 0.8rem;
}

.securePayment span:first-of-type {
  color: #fff;
  font-size: 1rem;
}

.active {
  opacity: 1;
}
