@import '../../../styles/variables.scss';

.inputContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 82px;
  input {
    padding: 8px;
    border: 1px solid $dark-primary-color;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    color: $dark-text-color;
    background-color: $dark-content-block-color;

    &:focus {
      border-color: $dark-secondary-color;
    }
  }
  label {
    margin-bottom: 5px;
    color: $dark-text-color;
    font-weight: 600;
    font-size: small;
  }
  span {
    padding: 3px;
    font-size: small;
    color: tomato;
  }
  &.light {
    input {
      border-color: $light-primary-color;;
      color: $light-text-color;
      background-color: $light-content-block-color;
    }
    &:focus {
      border-color: $light-secondary-color;
    }
    label {
      color: $light-text-color;
    }
  }
  &.error {
    input {
      border-color: tomato;
      color: tomato;
    }
  }
}