.container {
  display: flex;
  min-height: 75vh;
  padding-bottom: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  font-family: var('--font-sans');
}

.container.light {
  background: var(--light-background-color);
}
