.theme_icon {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  padding: 5px 8px 5px 5px;
}

.theme_icon:hover {
  background: #fcfcfc43;
}