@import "../../../../styles/variables.scss";

.container {
  h3 {
    font-family: monospace;
    font-size: 25px;
    color: $light-text-color;
  }
  &.light {
    h3 {
      color: $dark-text-color;
    }
  }
}