.container.light h3 {
  color: var(--light-text-color);
}

.container h3 {
  font-family: monospace;
  font-size: 25px;
  color: var(--dark-text-color);
}

@media (min-width: 768px) {
  .container {
    padding-top: 50px;
  }
}
